.packages {
    .dataTables_scrollHead,
    .dataTables_scrollHeadInner,
    .dataTables_scrollHeadInner .table {
        width: 100% !important;
    }
}

.packages {
    .card {
        min-height: 87vh;
        margin-bottom: 0;

        .body {
            padding: 5px 20px 0 20px !important;
        }
    }
}
#package-deployment-modal {
    .form-package-deployment {
        .form-group {
            display: inline-block;
            label {
                position: relative;
                top: 5px;
            }
        }
    }
}

@media (min-width: 768px) {
    #add-relation-modal {
        .modal-dialog {
            width: 1100px;
        }
    }
}

.ui-dialog-titlebar {
    background-color: darkorange !important;
    background-image: none;
}

#sccm-deployments {
	-moz-transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	transition: background-color 2s ease-out;
}

#sccm_switches {
	width: 350px;
	margin-top: 20px;
}

#sccm_multiple_switch {
	width: 280px;
	display: inline-block
}