/* Table component custom styles */
div.dataTables_wrapper {
    div.dataTables_paginate {
        text-align: center;
        padding-top: 20px;

        .pagination {
            .paginate_button {
                a {
                    font-size: 16px;
                }
            }
        }
    }
}

.table-fixed {
    table-layout: fixed;
}

.table {
    td {
        word-break: break-word;
    }

    thead {
        tr {
            th {
                white-space: nowrap;
            }
        }
    }

    tbody {
        tr {
            &.selected {
                background-color: #e1e1e1 !important;
            }
        }
    }
}

